@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfaire Display", serif;
}

.backgroundprofile {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    .profilename {
        margin-top: 1rem;
        color: #ffffff;
        .welcometext {
            font-size: 22px;
        }
    }
    .logout {
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: #FFF4D6;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}